/* headings */
h1,
h2,
h3 {
  color: var(--orange);
  text-align: left;
  padding-top: 20px;
}

h2,
h3 {
  margin-left: 10px;
  font-size: var(--sizesubheading);
}

/* text */
p {
  margin-left: 10px;
  margin-bottom: 15px;
}
