.section_one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 40px;
  margin-bottom: -50px;
}

.section_one_item_one {
  background-image: url(../images/couple-in-the-rain-2.jpg);
}
.section_one_item_two {
  background-image: url(../images/couple-in-the-rain.jpg);
}
.section_one_item_one,
.section_one_item_two {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.cta {
  margin-left: 55px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-top: 150px;
  font-size: var(--sizesubheading);
  font-family: var(--heading);
}

.section_one_item_one:hover, .section_one_item_two:hover {
  opacity: 70%;
}



