.jacket_display {
  display: grid;
  grid-template-columns: auto 1fr;
}
/* Images */
.big_img img {
  max-width: 100%;
  margin: 10px 30px;
}

/* Text */
.text li {
  display: block;
  text-align: left;
}
.text p {
  color: #404040;
  margin-left: 10px;
}
text {
  text-align: left;
}

/* Button and drop-down */
.cta_addcart {
  margin-top: 30px;
  display: block;
  width: 50%;
  text-align: center;
}
select {
  padding: 5px 10px;
  border: 1px solid #ffa821;
  border-radius: 2px;
}
#add-to-cart,
.cart {
  display: none;
}

label:hover {
  cursor: pointer;
}
.cart {
  background-color: #f4f4f4;
  border: 2px solid #485a73;
  position: relative;
  right: 250px;
  bottom: 100px;
  width: 100%;
  padding: 0px;
}
.cart a {
  display: block;
  text-align: center;
  margin: 10px;
}

.cart h1 {
  margin-top: 5px;
  font-size: 20px;
}
#add-to-cart:checked ~ .cart {
  display: block;
}
