@media only screen and (max-width: 950px) {
.showing {
  grid-template-columns: repeat(2, 1fr);
}
}

@media only screen and (max-width: 730px) {
  /* Nav */
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    background-color: var(--offwhite);
    position: fixed;
    flex-direction: column;
    right: -100%;
    top: 0px;
    gap: 0;
    width: 100%;
    text-align: center;
    transition: 0.4s;
  }

  .nav-item {
    margin: 15px 0;
  }

  .nav-menu.active {
    right: 0;
  }
  nav {
    background-color: var(--offwhite);
  }
  .nav-menu a {
    color: var(--darkblue);
  }
  
/* header */
 header img {
  display: none;
 }

 .nav-branding {
  background-image: url(../images/rainydayslogo_Desktop_new_darrrk.png);
  background-repeat: no-repeat;
  width: 190px;
  height: 110px;
  margin-top: -18px;
 }
  
/* footer */
  .footer_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* content homepage */
  .section_one {
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }

  /* jackets */
  .jacket_women, .jacket_men {
    width: 190px;
    height: 260px;
  }

  /* North 2.0 */
  .text {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
  
  .text img {
    margin-left: 0px;
  }
  h1 {
    text-align: center;
    color: var(--black);
    font-family: var(--heading);
    font-size: var(--sizesubheading);
    margin-top: 20px;
  }
h2 {
  font-size: 16px;
}
  .cta, .cta_about {
    margin-bottom: -40px;
    font-size: var(--sizemobile);
  }
  


/*popup box*/
.popup-content {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%; 
  height: 50%;
}

.close_popup {
  text-align: right;
}

.cta {
  margin: 20px 0;
  min-width: 100%;
}
}





 