@font-face {
  font-family: "open sans", sans-serif;
  src: url(../Fonts/OpenSans-Regular.ttf);
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

body {
  background: #f4f4f4;
  font-family: "open sans", sans-serif;
  max-width: 100%;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}
/* H1, links, icons and buttons */
span {
  font-weight: 900;
  font-size: 17px;
  color: #000;
}
h1 {
  text-align: center;
  color: #485a73;
  text-transform: capitalize;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
  color: #f4f4f4;
}

#active {
  color: #ffc774;
}
.icons {
  float: right;
  display: flex;
}
.fa-shopping-bag,
.fa-user,
.fa-search {
  margin-right: 15px;
}
.fa-search:hover,
.fa-user:hover,
.fa-shopping-bag:hover,
li a:hover,
.footer_items a:hover {
  color: #ffa821;
}
.cta_women,
.cta_men,
.cta,
.cta_addcart,
.cart a,
.cta_payment_card,
.cta_payment_vipps,
.pay a,
.cta_success a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 10px 40px;
  border-radius: 2px;
  color: #1c1c1c;
  background-color: #ffa821;
}
.cta_men:hover,
.cta_women:hover,
.cta:hover,
.cta_addcart:hover,
.cart a:hover,
.cta_payment_card:hover,
.cta_payment_vipps:hover,
.cta_success a:hover,
.payment_vipps a:hover,
.pay a:hover {
  background-color: #f4f4f4;
  color: #485a73;
  text-shadow: none;
}
.fa-twitter,
.fa-facebook,
.fa-instagram {
  color: #f4f4f4;
  margin-right: 5px;
}
/*Header*/
.logo {
  display: block;
  justify-content: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Nav */

menu,
li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  text-align: center;
}
.menu {
  text-align: center;
  background-color: #485a73;
}
.menu a {
  line-height: 50px;
}
nav label {
  font-size: 26px;
  line-height: 50px;
  display: none;
}
nav #toggle {
  display: none;
}

/* FOOTER */
footer {
  background-color: #485a73;
}
.footer_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10px;
}

.footer_items li {
  font-size: 12px;
  padding-bottom: 5px;
  display: block;
  text-align: start;
  border-bottom: none;
}
footer p {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffc774;
  margin-left: 20px;
}
