.clothes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-evenly;
}
/* TEXT */
.clothes p {
  color: #404040;
  padding-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid #ffa821;
}
/* LINKS */
.clothes a:hover {
  color: #ffa821;
}
.clothes a {
  color: #404040;
  text-transform: uppercase;
  font-size: 20px;
}
/* IMAGES STYLING */
.clothes img:hover {
  opacity: 70%;
}

.clothes img {
  width: 100%;
  height: auto;
}
